.browse .filter {
	flex: 30%;
	max-width: 200px;
	padding: 20px;
	height: 400px;
	align-items: center;
	border: 1px solid rgba(238,238,238 ,1);
	border-radius: 5px;
	color: rgba(117,117,117 ,1);
	box-shadow: 5px 10px 20px -20px rgba(85,172,238 ,1);
	text-align: center;
}
.browse .filter form {
    margin-top: 0em;
    display: flex;
    flex-direction: column;
}
.browse .movies {
    flex: 70%;
    background-color: white;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
.browse .movies .movie {
	width: 200px;
	height: 300px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.browse .movies .movie a {
	text-decoration: none;
}
.browse .movies .movie .title {
	background-color: black;
	margin-top: auto;
	color: white;
	height: 40px;
	display: flex;
    align-items: center;
	justify-content: center;
	width: 100%;
}
.browse .movies .movie .price {
	background-color: black;
	margin-bottom: auto;
	color: white;
	height: 40px;
	display: flex;
    align-items: center;
	justify-content: center;
	width: 100%;
}
@media screen and (max-width: 700px) {
    main.browse {   
        flex-direction: column;
    }
}