.cart .basket, .cart .title, .cart .checkout {
	padding: 20px;
	width: 100%;
	text-align: center;
}
.cart .checkout {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cart .checkout * {
	margin: 5px;
}
.cart td{
	min-width: 100px;
}
.cart table{
	max-width: 1178px;
}
