.movie .description {
	display: flex;
	width: 100%;
}

.movie .description .thumbnail {
    flex: 30%;
    padding: 20px;
}
.movie .description .desc {
    flex: 70%;
	padding: 20px;
}

.movie .actors, .movie .crews {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.movie div.photo {
	width: 100px;
    height: 150px;
	margin: 20px;
	display: flex;
    flex-direction: column;
    align-content: center;
	align-items: center;
	background-position: center center;
	background-size: cover;
}
.movie div.photo .title {
	background-color: black;
	margin-top: auto;
	color: white;
	height: 40px;
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
	width: 100%;
}
.movie div.photo .title p {
	font-size: 10px;
	margin: 0 auto;
}